.guo-alert {
  // display: inline-block;
  padding: 1rem;
  min-width: 20rem;
  max-width: 30rem;
  border-radius: $border-radius;
  color: #fff;
  position: relative;
  margin: .5rem;

  &.none {
    display: none !important;
  }

  .close-btn {
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    margin: auto 0;
    cursor: pointer;
  }
}

@each $key,
$val in $theme-colors {
  .guo-alert-#{$key} {
    background-color: $val;
  }
}